// .max-width{
//   max-width: 1200px;
// }

.text-content {
  margin: 10px;
}

.text-content {
  margin: 10px;
}

.text-content h2 {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  color: #5b32b4;
  line-height: 34px;
}
