.card {
  margin: 10px;
}

.card img {
  border-radius: 35px;
  border-bottom-left-radius: 0px !important;
}

.card h4 {
  color: #884bdf;
  font-weight: 600;
  font-size: large;
  font-family: sans-serif;
}

.card p {
  color: grey;
}
