section {
  background: linear-gradient(to left, #7873ed, #a865e1);
  padding: 60px;
  color: white;
}

.btn-custom{

  height: 45px;
  border-radius: 30px !important;
  border-bottom-left-radius: 0px !important;

}