<section>
  <div fxLayout="row warp" fxLayoutAlign="center center">
    <div class="mobile">
      <img class="mobile-img" src="../../../assets/special.png" alt="mobile" />
    </div>
    <div class="content">
      <h2>Our Best Propositions for You!</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco.
      </p>
      <div fxLayout="row warp" align="center">
        <div class="store-btns">
          <mat-icon class="icons">android</mat-icon>
          <p>
            available on <br />
            Google Store
          </p>
        </div>
        <div class="store-btns">
          <img
            src="../../../assets/apple.svg"
            alt="apple"
            height="25px"
            class="icons"
          />
          <p>
            available on <br />
            apple Store
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
