<section>
  <div class="content" align="center">
    <h2>Why Is It Special</h2>
    <div class="under-line"></div>
  </div>

  <div class="cards">
    <div fxLayout="row warp" fxLayoutAlign="center center">
      <ng-container *ngFor="let item of data">
        <div class="card" align="center">
          <div class="card-body">
            <mat-icon color="accent"> {{ item.icon }} </mat-icon>
            <h4>{{ item.title }}</h4>
            <p>{{ item.description }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
