.card {
    height: auto;
    width: 300px;
    border: solid 1px rgb(189, 189, 178);
    border-radius: 30px;
    border-bottom-left-radius: 0px !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    margin: 6px;
}

.header {
    padding: 30px;
}

.select-plan {
    padding: 4px;
    background-color: #a865e1;
    color: white;
    border-bottom-right-radius: 30px;

    p {
        padding-top: 1vh;
    }
}
